<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {% # Inlined CSS Variables %}
    {% render 'css-variables' %}

    {% # Load and preload the critical CSS %}
    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'base.css' | asset_url | stylesheet_tag: preload: true }}

    {% # Social, title, etc. %}
    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% if settings.favicon_image %}
    <link rel="icon" href="{{ settings.favicon_image | image_url }}" type="image/x-icon"/>
    {% endif %}
  </head>

  <body>
    {% sections 'header-group' %}

    {{ content_for_layout }}

    {%- render 'toast' -%}

    {% sections 'footer-group' %}
  </body>
</html>
