<!doctype html>
<html lang="{{ request.locale.iso_code }}">

<head>
  <!-- Google fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Outfit:wght@300;400;500;600;700&family=Bebas+Neue&family=Special+Gothic+Expanded+One&display=swap"
    rel="stylesheet">

  <!-- Gokwik theme code start -->


  <link rel="dns-prefetch" href="https://pdp.gokwik.co/">
  <link rel="dns-prefetch" href="https://api.gokwik.co">
  {% render 'gokwik' %}
  <!-- Gokwik theme code End -->

  {% # Inlined CSS Variables %}
  {% render 'css-variables' %}

  {% # Load and preload the critical CSS %}
  {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'coolvetica-fonts.css' | asset_url | stylesheet_tag }}

  {% # Preload Coolvetica font %}
  <link rel="preload" href="{{ 'Coolvetica Rg.otf' | asset_url }}" as="font" type="font/otf" crossorigin>

  {% # Social, title, etc. %}
  {% render 'meta-tags' %}

  {{ content_for_header }}

  <!-- Swiper CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  {% if settings.favicon_image %}
  <link rel="icon" href="{{ settings.favicon_image | image_url }}" type="image/x-icon" />
  {% endif %}
</head>

<body>
  {% sections 'header-group' %}

  {{ content_for_layout }}

  {%- render 'toast' -%}

  {% comment %} Wishlist drawer and functionality {% endcomment %}
  {% render 'wishlist-drawer' %}
  {% render 'wishlist-card' %}

  {% sections 'footer-group' %}

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% render 'variant-picker-modal' %}
{% render 'size-chart-modal' %}
</body>

</html>